<div class="navbar">
	<div class="navbar-inner">
		<a class="brand" href="#">MMDB</a>
		<ul class="nav">
		<li></li>
		<li>	<div class="btn-group">
				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
					添加 <span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a href="#myModal" role="button" class="btna" data-toggle="modal" subclassof="foaf:Agent">人物(foaf:Agent)</a></li>
					<li>作品</li>
					<li>音轨</li>
				</ul>
			</div></li>
		</ul>
	</div>
</div>
<div class="row-fluid">
	<div class="span4">...</div>
	<div class="span8">
	<?php echo $this->abc; ?>
	<script type="text/x-handlebars">
    Hello <b>{{Songs.mixmaster}}</b>
</script>
	...</div>
</div>

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>