<!DOCTYPE html>
<html>
  <head>
    <title>MMDB</title>
<!--     <script src="/js/json2.js"></script> -->
    <script src="/js/jquery-latest.js"></script>
       <script src="/js/underscore.js"></script>
        <script src="/js/backbone.js"></script>
        <script src="/js/handlebars-1.0.rc.1.js"></script>
    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <?php echo $this->headScript(); ?>
    <?php echo $this->headLink(); ?>
  </head>
  <body>
    <?php echo $this->layout()->content; ?>

    <script src="/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>