<?php
?>
<div id="resourcepage">
	<div id="resource">
		
	</div>
</div>

<script id="resourceproperty" type="text/x-handlebars-template">
  <div class="page-header">
		<div class="display">
			<h1>{{link context "foaf:name"}}<small>solo</small></h1>
		</div>
		<div class="edit">
			<input type="text" value={{link context "foaf:name"}} >
		</div>
	</div>
	{{link context "rdfs:label"}}
</script>